    {{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Fate Grand Order</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat ratione deserunt numquam aperiam eius ullam maxime optio consectetur distinctio ex! Ad sint quae expedita enim iste aliquam quasi neque asperiores.
            </p>
        </div>
    </div>

    <div class="col4">
        <img src="assets/img/fate.jpg" alt="FATE" class="img-thumbnail">
    </div>


    {{> footer }}